.boxAttachmentsDetails{
    position: absolute;
    width: 1198px;
    height: 173px;
    left: 122px;
    top: 3140px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
}
.Resume{
    position: absolute;
width: 96px;
height: 18px;
left: 35px;
top: 30px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;

color: #000000;

}
.Accept-format{
    position: absolute;
width: 259px;
height: 16px;
left: 141px;
top: 30px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height */


color: #000000;
}
.Choose-File{
    box-sizing: border-box;

position: absolute;
width: 199px;
height: 48px;
left: 35px;
top: 80px;

background: #FFFFFF;
border: 1px solid #8D19FF;
border-radius: 13px;
}